@{
    ViewBag.Title = "Index";
}

@section city
{
   
    <head>
        <title>City View</title>
    </head>
    }
<p class="h1" style="font-size:100px ; font-family:Batang ; text-align:center">City View</p> 
        <p style="font-size:30px ; font-family:Batang ; text-align:center">Cites having more colleges.</p> 
       

<body>
    <div style="text-align:center; background-color:brown" > 
       
                    <img src="@Url.Action("CreatePie")" alt="Pie Chart using MVC" />
               

    </div>
</body>
