
         <div id="d1">
<ul style="list-style:none;height:80% ; background-color:black ; color:white ; font-size : 20px ; margin-left:5%">
 
<li><br /></li><li><br /></li><li><br /></li><li><br /></li>
   <li style="">

       <a href="../College/update_college_data">Update College Data</a>
</li>
    <li><br /></li>
      <li style="">

       <a href="../College/update_admission_date">Update Admission Date</a>
</li>
    
    <li><br /></li>
    <li>
        <a href="../College/add_merit_lists">Add Merit Details</a>
            
</li>
<li><br /></li>
    <li>
        <a href="../College/update_Merit_Lists">Update Merit Details</a>
</li>
    
    <li><br /></li>
    <li>
        <a href="../College/logout">Logout</a>
</li>
</ul>
</div>