
         <div id="d1">
<ul style="list-style:none;height:80% ; background-color:black ; color:white ; font-size : 20px ; margin-left:5%">
 
<li><br /></li><li><br /></li><li><br /></li><li><br /></li><li><br /></li><li><br /></li>
    <li style="">

       <a href="../Admin/update">Update Cetegory</a>
</li>
    <li><br /></li>
    <li>
        <a href="../Admin/delete">Delete College</a>
            
</li>
<li><br /></li>
    <li>
        <a href="../Admin/addDegree">Add Degree</a>
</li>
    <li><br /></li>
    <li>
        <a href="../Admin/addCollege">Add College</a>
</li>
    <li><br /></li>
    <li>
        <a href="/Admin/logout">Logout</a>
</li>
</ul>
</div>