
@section index
{
    <head>
        <title>Home</title>

         <meta name="viewport" content="width=device-width, initial-scal[;pl,=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Start WOWSlider.com HEAD section -->
 <link rel="stylesheet" type="text/css" href="engine1/style.css" />
<script type="text/javascript" src="engine1/jquery.js"></script>
    




    </head>
}
<div>
     <p class="h1" style="font-size:70px ;font-family:Batang ; text-align:center"><u><b>Welcome to Future.com</b></u></p> 
        

  <div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="data1/images/cadet_college..jpg" alt="Cadet College." title="Cadet College." id="wows1_0"/></li>
		<li><img src="data1/images/cadet_college.jpg" alt="Cadet College" title="Cadet College" id="wows1_1"/></li>
		<li><img src="data1/images/cadetcollegesinpakistan.jpg" alt="Cadet-Colleges-In-Pakistan" title="Cadet-Colleges-In-Pakistan" id="wows1_2"/></li>
		<li><img src="data1/images/gov_women_college.jpg" alt="Gov Women College" title="Gov Women College" id="wows1_3"/></li>
		<li><img src="data1/images/islamia_college.jpg" alt="Islamia College" title="Islamia College" id="wows1_4"/></li>
		<li><img src="data1/images/kinnard_college.jpg" alt="Kinnard College" title="Kinnard College" id="wows1_5"/></li>
		<li><img src="data1/images/miltary_college.jpg" alt="Miltary College" title="Miltary College" id="wows1_6"/></li>
		<li><img src="data1/images/pakistan_law_college.jpg" alt="Pakistan Law College" title="Pakistan Law College" id="wows1_7"/></li>
		<li><img src="data1/images/premier_law_college.jpg" alt="Premier Law College" title="Premier Law College" id="wows1_8"/></li>
		</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Cadet College."><span><img src="data1/tooltips/cadet_college..jpg" alt="Cadet College."/>1</span></a>
		<a href="#" title="Cadet College"><span><img src="data1/tooltips/cadet_college.jpg" alt="Cadet College"/>2</span></a>
		<a href="#" title="Cadet-Colleges-In-Pakistan"><span><img src="data1/tooltips/cadetcollegesinpakistan.jpg" alt="Cadet-Colleges-In-Pakistan"/>3</span></a>
		<a href="#" title="Gov Women College"><span><img src="data1/tooltips/gov_women_college.jpg" alt="Gov Women College"/>4</span></a>
		<a href="#" title="Islamia College"><span><img src="data1/tooltips/islamia_college.jpg" alt="Islamia College"/>5</span></a>
		<a href="#" title="Kinnard College"><span><img src="data1/tooltips/kinnard_college.jpg" alt="Kinnard College"/>6</span></a>
		<a href="#" title="Miltary College"><span><img src="data1/tooltips/miltary_college.jpg" alt="Miltary College"/>7</span></a>
		<a href="#" title="Pakistan Law College"><span><img src="data1/tooltips/pakistan_law_college.jpg" alt="Pakistan Law College"/>8</span></a>
		<a href="#" title="Premier Law College"><span><img src="data1/tooltips/premier_law_college.jpg" alt="Premier Law College"/>9</span></a>
		</div></div>
<script type="text/javascript" src="engine1/swfobject.js"></script><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com/vi">angular slider</a> by WOWSlider.com v7.7</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
  
   </div>